<div class="contianer">

  <div class="col-lg-5">

    <div class="row" style="margin-top: 30px">
      <a class="pull-left col-sm-3" href="#">
        <img class="img-circle" src="http://lorempixel.com/200/200/people/" style="width: 200px;height:200px;">
      </a>
      <div class="profile-section col-sm-9">
        <h2 class="media-heading">{{ user.name }}</h2>

        <div class="profile-sub-section">
          <p class="profile-details">Backed 150 Projects</p>
          <p class="profile-details"><em>Montreal, Canada</em></p>
          <a href="#" class="profile-details label label-info">Website</a>
        </div>
         
        <div class="profile-bio">
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div> 
          
      </div>
    </div>

  </div>
  <hr />
  
  <a href="/profile/edit" class="btn pledge-button">Update Profile</a>

  <hr />
  {{#if isOauthed }}
    <p>Authorized. You can create a project</p>
    <a href="/create-project" class="btn pledge-button">Create Project</a>
  {{ else }}
    <h4>Would you like to create a project?</h4>
    <p>* You need to have a Stripe account, if you don't have one, sign up Stripe <a href="https://www.stripe.com/"><strong>HERE</strong></a></p>
    <p>Connect your Stripe account with our platform.</p>
    <a href="/authorize">
      <img src="images/blue-on-light.png" alt="Connect with Stripe">
    </a>
  {{/if}}
  

</div>