<div class="contianer">
  <div class="well">
    <h3>{{ user.name }}</h3>
    <p>Email: <strong>{{ user.email }}</strong></p>
  </div>

  <hr />
  
  <a href="/profile/edit" class="btn pledge-button">Update Profile</a>

  <hr />
  {{#if isOauthed }}
    <p>Authorized. You can create a project</p>
    <a href="/create-project" class="btn pledge-button">Create Project</a>
  {{ else }}
    <h4>Would you like to create a project?</h4>
    <p>* You need to have a Stripe account, if you don't have one, sign up Stripe <a href="https://www.stripe.com/"><strong>HERE</strong></a></p>
    <p>Connect your Stripe account with our platform.</p>
    <a href="/authorize">
      <img src="images/blue-on-light.png" alt="Connect with Stripe">
    </a>
  {{/if}}
  

</div>