<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-color" href="/">Kickstarter<span>Clone</span></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        <li class=""><a href="/projects">Discover</a></li>
        {{#if current_user }}
          <li class=""><a href="/create-project">Start a project</a></li>
        {{/if}}
        <li class=""><a href="/about">About</a></li>
      </ul>

      <form class="navbar-form navbar-nav" role="search" action="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Projects" name="q">
        </div>
        <button type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </form>

    <ul class="nav navbar-nav navbar-right">
      {{#if current_user }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      {{ else }}
        <li><a href="/signup" class="login-link">Sign Up</a></li>
        <li><a href="/login" class="login-link">Log In</a></li>
      {{/if}}
    </ul>

    </div>
  </div>
</nav>

{{#each sessionFlash}}
  <div class="flash {{ @key }}">
    <strong>{{ this }}</strong>
  </div>
{{/each}}
