
<div class="col-sm-4 project-detail">
  <div class="project-card text-center">
    <div class="project-info">
      <a href="/projects/{{id}}">
        <img class="img-responsive center-block img-thumbnail" src="http://lorempixel.com/400/200/">
      </a>
      <strong><a href="/">{{ name }}</a></strong>
      </br/>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
    </div>
    <div class="project-stats">
      <div class="row">
        <div class="col-sm-4 text-center">68% <br/> funded </div>
        <div class="col-sm-4 text-center">$1390 <br/> pledged </div>
        <div class="col-sm-4 text-center">28 <br/> days left</div>
      </div>
    </div>
  </div>
</div>
