<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta property="og:url"           content="https://obscure-meadow-67002.herokuapp.com/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="KickstarterClone" />
  <meta property="og:description"   content="Crowdfunding for people" />
  <meta property="og:image:url"     content="http://res.cloudinary.com/dck7vqmjo/image/upload/v1459690100/sample.jpg" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/dist/stylesheets/bundle.min.css" media="screen">
  <title>Kickstarter Clone</title>
</head>
<body>
  {{> header}}

  <div class="container main">
    {{{body}}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{{!--  <script src="/javascripts/stripe.js"></script>
  <script src="/javascripts/helpers.js"></script>
  <script src="/javascripts/signup.js"></script>
  <script src="/javascripts/project.js"></script>
  <script src="/javascripts/profile.js"></script>
  <script src="/javascripts/comment.js"></script>
  <script src="/javascripts/search.js"></script>
  <script src="/javascripts/project-loadmore.js"></script> --}}
  <script src="/dist/javascripts/bundle.min.js"></script>

  {{!-- Load Facebook SDK for JavaScript --}}
  <script>
    window.fbAsyncInit = function() {
      FB.init({appId: '560833364124033', xfbml: true, version: 'v2.6'});
    };
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  {{!-- Twitter SDK --}}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</body>
</html>