<div class="jumbotron text-center">
  <h1>Crowdfunding for people</h1>
  <p>Get crowd help to make yout project happen! Back projects / Create projects  in easy way!</p>
  <a href="/projects" class="btn pledge-button">View Projects</a>
</div>