<div style="" class="">
  <h1>Comments</h1>
  <div class="" style="">
    <form action="" method="" class="form-inline row" role="form">
      <div class="col-sm-10 input-group">
       {{!--  <input type="text" class="form-control" placeholder="Comments ..." /> --}}
       <textarea name="" id="" class="form-control" maxlength="300" rows="3" placeholder="Comments ..." style="border-radius: 10px; resize: vertical;"></textarea>
      </div>
      <div class="col-sm-2 pull-right input-group">
        <button class="btn btn-info form-control" style="height: 73px; border-radius: 10px; font-size: 1.2em">Submit</button>
      </div>
    </form>
  </div>

  <hr />

  {{!-- {{#if comments}} --}}
    <ul class="list-group">
      <li class="row list-group-item">
        <div class="pull-left col-sm-2">
          <img src="http://res.cloudinary.com/dck7vqmjo/image/upload/v1460055996/bm07qyaoqe3rvu6tbzf5.png" alt="" style="width:70px; height:70px; border-radius: 50%;">
        </div>
        <div class="col-sm-10"> 
          <p>Creator about 1 day ago</p>
          <p>@Kevin Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </li>

      <li class="row list-group-item">
        <div class="pull-left col-sm-2">
          <img src="http://res.cloudinary.com/dck7vqmjo/image/upload/v1460055996/bm07qyaoqe3rvu6tbzf5.png" alt="" style="width:70px; height:70px; border-radius: 50%;">
        </div>
        <div class="col-sm-10"> 
          <p>Alice about 1 day ago</p>
          <p>@Kevin Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>
        </div>
      </li>
    </ul>
  {{!-- {{/if}} --}}
</div>
