h1 {
  color: green;
}

p {
  color: blue;
}

.main {
  margin-top: 60px;
}

.project-detail {
  padding: 10px 5px 5px 5px;
  margin-bottom: 5px;
}

.project-card {
  border: 1px solid #000;
  padding-bottom: 10px;
}

.img-thumbnail {
  max-width: 150px;
  max-height: 150px;
}

.project-stats {
  margin-top: 10px;
}

.error {
  color: red;
  font-style: italic;
}

.success {
  color: green;
  font-style: italic;
}


.flash {
  margin-top: 60px;
  margin-bottom: -50px;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeInOut 5s;
  animation: fadeInOut 5s;
  z-index: 1000;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
       opacity: 1;
    }
    84% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}
