  <div class="well text-center" style="max-width: 600px; margin: auto">
    <h1>Project Categories</h1>
    <ul class="list-inline">
      <li><a class="btn btn-lg btn-default" href="/categories/Art">Art</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Comics">Comics</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Crafts">Crafts</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Dance">Dance</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Design">Design</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Fashion">Fashion</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Video">Video</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Food">Food</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Games">Games</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Journalism">Journalism</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Music">Music</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Photography">Photography</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Publishing">Publishing</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Technology">Technology</a></li>
      <li><a class="btn btn-lg btn-default" href="/categories/Theater">Theater</a></li>
    </ul>
  </div>