<div class="text-center" style="max-width: 900px; margin: auto">
  <h1>Project Categories</h1>
  <div class="row">
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Art">Art</a>
    </div>
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Comics">Comics</a>
    </div>
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Crafts">Crafts</a>
    </div>
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Dance">Dance</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Design">Design</a>
    </div>
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Fashion">Fashion</a>
    </div>
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Video">Video</a>
    </div>
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Food">Food</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Games">Games</a>
    </div> 
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Journalism">Journalism</a>
    </div> 
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Music">Music</a>
    </div> 
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Photography">Photography</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Publishing">Publishing</a>
    </div>   
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Technology">Technology</a>
    </div>   
    <div class="col-sm-3 col-xs-6 category-box">
      <a class="category-link" href="/categories/Theater">Theater</a>
    </div>
  </div>
</div>